/*
!.gitignore
!LICENSE
!README.md
!bootstrap.gif
!screen1.jpg
!screen2.jpg
!screen3.jpg
!which-key-evil.jpg
!which-key-holy.jpg
!grok-minimal.jpg
!early-init.el
!init.el
!grok-defaults.el
!grok-core
!grok.d
!splash.png
!splash_smaller_transparent.png
grok.d/grok.el
!grokEmacs.txt
